* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 52%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 48%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 46%; } }

body {
  font-family: 'Noto Sans', 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  margin: 2.5rem auto;
  background-color: white;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  display: grid;
  width: 100%;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 90vh repeat(4, min-content); }

.header {
  background-image: url(../img/header_background.jpg);
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  align-items: center;
  justify-content: space-around; }
  .header__logo-box {
    position: absolute;
    top: 5rem;
    left: 4rem; }
  .header__logo {
    box-sizing: border-box;
    height: 8rem;
    animation: fadeIn 2.5s; }
  .header__button-span {
    color: white;
    font-size: 1.8rem;
    margin: 0 3rem; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .heading-primary--main {
    font-family: 'Bitter', serif;
    font-size: 2.8rem;
    letter-spacing: 1.6rem;
    margin-top: 4rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 2rem;
        letter-spacing: 1.2rem; } }
  .heading-primary--sub {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.3rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.8rem;
        letter-spacing: 1.1rem; } }

.about-me {
  background-color: white;
  grid-column: center-start / center-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: 12rem; }
  @media only screen and (max-width: 56.25em) {
    .about-me {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      margin: 8rem auto 4rem auto; } }
  .about-me__picture {
    flex: 1 0 30rem;
    margin-right: 4rem;
    filter: saturate(115%) blur(0.2px); }
    @media only screen and (max-width: 56.25em) {
      .about-me__picture {
        width: 35rem; } }
    .about-me__picture__img {
      border-radius: 50%;
      width: 100%;
      background-size: cover;
      background-position: center; }
  .about-me__content {
    font-family: 'Raleway', sans-serif;
    flex: 1 1 70rem;
    margin: 2rem 6rem;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 2.2; }
    @media only screen and (max-width: 56.25em) {
      .about-me__content {
        width: 50rem; } }
    .about-me__content__btn {
      margin: 5rem auto; }

.my-experience {
  background-color: white;
  grid-column: center-start / center-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .my-experience .project {
    display: flex;
    flex: 0 1 35rem;
    flex-flow: column nowrap;
    align-items: center; }
    .my-experience .project__heading {
      font-family: 'Bitter', serif;
      font-size: 1.8rem; }
    .my-experience .project__text {
      font-family: 'Raleway', sans-serif;
      padding: 3rem;
      color: #202020;
      font-size: 1.5rem;
      line-height: 3.5rem; }
      .my-experience .project__text ul {
        list-style: none; }
        .my-experience .project__text ul li {
          text-align: center;
          padding: 1rem; }
          .my-experience .project__text ul li:not(:last-child) {
            border-bottom: 1px solid #eee; }
    .my-experience .project__icon {
      grid-row: 1 / span 2;
      fill: rgba(20, 238, 20, 0.637);
      width: 4.5rem;
      height: 4.5rem;
      transform: translateY(-1.5rem) translateX(3rem);
      align-self: flex-start;
      transform: translateX(1rem) translateY(2.5rem); }
  @media only screen and (max-width: 56.25em) {
    .my-experience {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      max-width: 40rem;
      margin: 0 auto; } }

.contact-me {
  font-family: 'Bitter', serif;
  grid-column: center-start / center-end;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin: 5rem auto; }
  .contact-me .center {
    margin: 2rem auto; }
  .contact-me .title {
    margin-bottom: 4rem; }
  .contact-me .input-fields {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  .contact-me .input {
    height: 3rem;
    padding-left: 1rem;
    width: 50vw; }
  .contact-me .textarea {
    width: 55vw;
    height: 8rem;
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: inherit;
    margin-bottom: 2.5rem; }

.footer {
  grid-column: full-start / full-end;
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  color: darkgray;
  background-color: black;
  font-size: 1.5rem; }
  .footer__logo-box {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo-box {
        padding: none;
        align-self: center; } }
  .footer__link-name:link, .footer__link-name:visited {
    background-color: black;
    color: darkgray;
    text-decoration: none;
    text-transform: uppercase;
    backface-visibility: hidden;
    transition: all .2s; }
  .footer__link-name:hover, .footer__link-name:active {
    color: darkorange;
    backface-visibility: hidden; }
  .footer__copyright {
    font-family: "Raleway";
    padding: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        max-width: 69vw;
        justify-content: flex-start; } }

.btn {
  font-size: 1.2rem;
  width: max-content;
  transition: all .4s;
  animation: fadeIn 2s ease-in; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 6rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .28s;
    position: relative;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.35); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: darkslateblue; }
    .btn--white::after {
      background-color: #fff; }
  .btn--blue {
    background-color: #1ba6fc;
    color: white; }
    .btn--blue::after {
      background-color: lightskyblue; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .2s ease-in; }
