.container {
    margin: 2.5rem 2.6rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
    display: grid;
    //width: 100%;
    max-width: 150rem;
    grid-template-columns: [full-start] minmax(6rem, 1fr) 
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) 
    [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-rows: 90vh repeat(4,min-content);
    
}

.header {
    background-image: url(../img/header_background.jpg);
    grid-column: full-start / full-end;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    align-items: center;
    justify-content: space-around;

    &__logo-box {
        position: absolute;
        top:5rem;
        left:4rem;
    }

    &__logo{
        box-sizing: border-box;
        height: 8rem;
        animation: fadeIn 2.5s;
    }
    &__button {
        &-span {
            color:white;
            font-size: 1.8rem;
            margin: 0 3rem;
        }
    }
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &--main {
        font-family: 'Bitter', serif;
        font-size: 2.8rem;
        letter-spacing: 1.6rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
        @media only screen and (max-width: $bp-smaller) {
            font-size: 2rem;
            letter-spacing: 1.2rem;
        }
    }
    &--sub {
        font-family: 'Raleway', sans-serif;
        font-size: 2rem;
        letter-spacing: 1.3rem;
        @media only screen and (max-width: $bp-smaller) {
            font-size: 1.8rem;
            letter-spacing: 1.1rem;
        }
    }
}

.about-me {
    background-color: rgb(255, 255, 255);
    grid-column: center-start / center-end;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12rem;
    margin-bottom: 12rem;
    @media only screen and (max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 8rem auto 4rem auto;
    }

    &__picture {
        flex: 1 0 30rem;
        margin-right: 4rem;
        filter: saturate(115%) blur(.2px);
        @media only screen and (max-width: $bp-medium) {
            width: 35rem;
        }

        &__img {
            border-radius: 50%;
            width: 100%;
            background-size: cover;
            background-position: center;
        }
    }

    &__content {
        font-family: 'Raleway', sans-serif;
        flex: 1 1 70rem; 
        margin: 2rem 6rem;
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        line-height: 2.2;   
        @media only screen and (max-width: $bp-medium) {
            width: 50rem;
        }

        &__btn {
            margin: 5rem auto;
        }
    }
   
}

.my-experience {
    background-color: white;
    grid-column: center-start / center-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .project {
        display: flex;
        flex: 0 1 35rem;
        flex-flow: column nowrap;
        align-items: center;
        &__heading {
            font-family: 'Bitter', serif;
            font-size: 1.8rem;
        }
        &__text {
            font-family: 'Raleway', sans-serif;
            padding: 3rem;
            color: rgb(32, 32, 32);
            font-size: 1.5rem;
            line-height: 3.5rem;
            ul {
                list-style: none;
                li {
                    text-align: center;
                    padding: 1rem;
                    &:not(:last-child) {
                        border-bottom: 1px solid #eee;
                    }
                }
            }
        }
        &__icon {
            grid-row: 1 / span 2;
            fill:rgba(20, 238, 20, 0.637);
            width: 4.5rem;
            height: 4.5rem;
            transform: translateY(-1.5rem) translateX(3rem);
            align-self: flex-start;
            transform: translateX(1rem) translateY(2.5rem);
        }
    }
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        max-width: 40rem;
        margin: 0 auto;
    }
}

.contact-me {
    font-family: 'Bitter', serif;
    grid-column: center-start / center-end;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin: 5rem auto;

    .center {
        margin: 2rem auto;
    }

    .title {
        margin-bottom: 4rem;
    }
    .input-fields {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .input {
        height: 3rem;
        padding-left: 1rem;
        width: 50vw;
    }
    .textarea {
        width: 55vw;
        height: 8rem;
        padding-left: 1rem;
        padding-top: 1rem;
        font-family: inherit;
        margin-bottom: 2.5rem;
    }
    
    
}


.footer {
    grid-column: full-start / full-end;
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    color: darkgray;
    background-color: black;
    font-size: 1.5rem;
    &__logo-box {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        @media only screen and (max-width: $bp-smaller) {
            padding: none;
            align-self: center;
        }
    }
        &__link-name {
            &:link,&:visited {
                background-color: black;
                color: darkgray;
                text-decoration: none;
                text-transform: uppercase;
                backface-visibility: hidden;
                transition: all .2s;
            }
            &:hover,&:active {
                color: darkorange;
                backface-visibility: hidden;
            }   
        }
    &__copyright {
        font-family: "Raleway";
        padding: 3rem;
        @media only screen and (max-width: $bp-medium) {
            max-width: 69vw;
            justify-content: flex-start;
        }
    }
}